# Python Built-in Methods Assignment
**Name:** Abhishek Kharel  
**Roll No:** 081BEL005  
**Date:** July 1, 2025

## String Methods

### Method: `upper`

In [2]:
text = "hello world"
upper_text = text.upper()
print(upper_text)

HELLO WORLD

**Expected Output:**
```
HELLO WORLD
```

### Method: `lower`

In [3]:
text = "HELLO WORLD"
lower_text = text.lower()
print(lower_text)

hello world

**Expected Output:**
```
hello world
```

### Method: `strip`

In [4]:
text = "   some spaces   "
stripped_text = text.strip()
print(f"'{stripped_text}'")

'some spaces'

**Expected Output:**
```
'some spaces'
```

### Method: `split`

In [5]:
text = "apple,banana,cherry"
fruits = text.split(',')
print(fruits)

['apple', 'banana', 'cherry']

**Expected Output:**
```
['apple', 'banana', 'cherry']
```

### Method: `join`

In [6]:
words = ['Hello', 'World']
sentence = ' '.join(words)
print(sentence)

Hello World

**Expected Output:**
```
Hello World
```

### Method: `replace`

In [7]:
text = "I like cats."
new_text = text.replace("cats", "dogs")
print(new_text)

I like dogs.

**Expected Output:**
```
I like dogs.
```

### Method: `find`

In [8]:
text = "Hello, welcome to my world."
position = text.find("welcome")
print(position)

7

**Expected Output:**
```
7
```

## List Methods

### Method: `append`

In [9]:
fruits = ['apple', 'banana']
fruits.append('cherry')
print(fruits)

['apple', 'banana', 'cherry']

**Expected Output:**
```
['apple', 'banana', 'cherry']
```

### Method: `extend`

In [10]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list1.extend(list2)
print(list1)

[1, 2, 3, 4, 5, 6]

**Expected Output:**
```
[1, 2, 3, 4, 5, 6]
```

### Method: `insert`

In [11]:
fruits = ['apple', 'cherry']
fruits.insert(1, 'banana')
print(fruits)

['apple', 'banana', 'cherry']

**Expected Output:**
```
['apple', 'banana', 'cherry']
```

### Method: `pop`

In [12]:
numbers = [1, 2, 3, 4]
popped_element = numbers.pop(2)
print(f"Popped: {popped_element}, Remaining List: {numbers}")

Popped: 3, Remaining List: [1, 2, 4]

**Expected Output:**
```
Popped: 3, Remaining List: [1, 2, 4]
```

### Method: `sort`

In [13]:
numbers = [3, 1, 4, 2]
numbers.sort()
print(numbers)

[1, 2, 3, 4]

**Expected Output:**
```
[1, 2, 3, 4]
```

## Tuple Methods

### Method: `count`

In [14]:
my_tuple = (1, 2, 3, 2, 4, 2)
count_of_2 = my_tuple.count(2)
print(count_of_2)

3

**Expected Output:**
```
3
```

### Method: `index`

In [15]:
my_tuple = ('a', 'b', 'c', 'd')
index_of_c = my_tuple.index('c')
print(index_of_c)

2

**Expected Output:**
```
2
```

## Set Methods

### Method: `add`

In [16]:
my_set = {1, 2, 3}
my_set.add(4)
print(my_set)

{1, 2, 3, 4}

**Expected Output:**
```
{1, 2, 3, 4}
```

### Method: `update`

In [17]:
set1 = {'a', 'b'}
set2 = ['b', 'c']
set1.update(set2)
print(set1)

{'a', 'c', 'b'}

**Expected Output:**
```
{'a', 'b', 'c'}
```

### Method: `remove`

In [18]:
my_set = {1, 2, 3}
my_set.remove(2)
print(my_set)

{1, 3}

**Expected Output:**
```
{1, 3}
```

### Method: `union`

In [19]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

**Expected Output:**
```
{1, 2, 3, 4, 5}
```

### Method: `intersection`

In [20]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
intersection_set = set1.intersection(set2)
print(intersection_set)

{3}

**Expected Output:**
```
{3}
```

## Dictionary Methods

### Method: `keys`

In [21]:
person = {'name': 'Abhishek', 'age': 20}
keys = person.keys()
print(keys)

dict_keys(['name', 'age'])

**Expected Output:**
```
dict_keys(['name', 'age'])
```

### Method: `values`

In [22]:
person = {'name': 'Abhishek', 'age': 20}
values = person.values()
print(values)

dict_values(['Abhishek', 20])

**Expected Output:**
```
dict_values(['Abhishek', 20])
```

### Method: `items`

In [23]:
person = {'name': 'Abhishek', 'age': 20}
items = person.items()
print(items)

dict_items([('name', 'Abhishek'), ('age', 20)])

**Expected Output:**
```
dict_items([('name', 'Abhishek'), ('age', 25)])
```

### Method: `get`

In [24]:
person = {'name': 'Alice', 'age': 25}
name = person.get('name')
print(name)

Alice

**Expected Output:**
```
Alice
```

### Method: `update`

In [25]:
person = {'name': 'Abhishek', 'age': 20}
person.update({'city': 'New Baneshwor'})
print(person)

{'name': 'Abhishek', 'age': 20, 'city': 'New Baneshwor'}

**Expected Output:**
```
{'name': 'Abhishek', 'age': 20, 'city': 'New Baneshwor'}
```